body{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f8fa;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    
}
div.folha{
    background-color: white;
    box-shadow: 0.5mm 0.5mm 1.5mm #66666622;
    width: 15.46cm !important;
    min-width: 15.46cm;
    padding-left: 2.54cm;
    padding-right: 3cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
    font-size: 10pt;
}

div.texto{
    padding-right: 2.66cm;
    text-align: justify;
}

b{
    color: #666;
}

h2{
    text-transform: uppercase;
    text-align: left;
    color: #00ab58;
    font-size: 14pt;
}

h3{
    font-size: 11pt;
}



nav{
    background-color: #57ba86;
    height: 0.2cm;
}


header h1{
    font-size: 29pt;
    line-height: 1%;
    color: #353744;
}

